Backend/dist
Backend/cabal-dev
Backend/*.o
Backend/*.hi
Backend/*.chi
Backend/*.chs.h
Backend/.virthualenv
Backend/*~
Backend/.hsenv_*
Backend/dist_*
Backend/history
Backend/TAGS
Backend/.cabal-sandbox
Backend/cabal.sandbox.config
Backend/.stack-work

Frontend/elm-stuff
Frontend/node_modules
Frontend/elm.js
Frontend/npm-debug.log
Frontend/dist

.DS_Store
